<connectionStrings>
  <!--<add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-WebSite-1924124a-4566-4bf1-b9f4-3cd8b38d2a2e;AttachDbFilename=|DataDirectory|\aspnet-WebSite-1924124a-4566-4bf1-b9f4-3cd8b38d2a2e.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>-->

  <add name="ChinookDB"
       connectionString="Data Source =.;  Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>


  <add name="DefaultConnection"
      connectionString="Data Source =.;  Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>

</connectionStrings>
